* {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: rgb(66, 2, 52);
}

#screen {
  margin: auto;
  margin-top: 150px;
}

.radarBox {
  height: 100px;
}
